{% extends "layout.html.twig" %}
{% block title %}
{% for p in data2 %}
{{ p.nama|e }}
{% endfor %}
{% endblock %}
{% block stylesheet1 %}../css/bijou.min.css{% endblock %}
{% block stylesheet2 %}../css/font-awesome.min.css{% endblock %}
{% block indexlink %}/epmr/web{% endblock %}
{% block pullright %}
<li><i class="fa fa-plus-circle"></i> <a href="{% for f in data2 %}{{ f.idpasien }}{% endfor %}/tambah">Tambah Kunjungan</a></li>
{% endblock %}
{% block content %}
{% spaceless %}
<div class='container'>
	<div class='row light'>
          <div class='span two'>
          {% for pasien in data2 %}
          <form action="{{ pasien.idpasien }}/edit" method="post">
		<fieldset>
		<legend><b>Data Pasien <i class="fa fa-wheelchair"></i></b></legend>
		<label for="name"><b>Nama Pasien</b></label><br>
		<input type="text" name="nama" value="{{ pasien.nama|e }}" /><br>
		<label for="name"><b>Alamat</b></label><br>
		<input type="text" size='25' name="alamat" value="{{ pasien.alamat|e }}" /><br>
		<label for="name"><b>No. Telepon</b></label><br>
		<input type="text" name="telepon" value="{{ pasien.telepon|e }}" /><br>		
		<input type="hidden" name="idpasien" value="{{ pasien.idpasien|e }}" />
		</fieldset>
		
		</div>
          <div class='span five'>
          <fieldset>
		<legend><b>Data Pendukung</b></legend>
		<label for="name"><b>Usia</b></label><br>
		<input type="text" name="usia" value="{{ pasien.usia|e }}" /><br>
		<label for="name"><b>Alergi</b></label><br>
		<textarea rows="4" cols="50" name="alergi">{{ pasien.alergi|e }}</textarea><br>
		<label for="name"><b>Penyakit Lain</b></label><br>
		<textarea rows="4" cols="50" name="penyakit_lain">{{ pasien.penyakit_lain|e }}</textarea>
		{% endfor %}
		</fieldset>
		<br><input type="submit" class="button primary small" value="Ubah Data " />
          </form></div>
		<div class='span four dark'>
		<fieldset>
		<legend><b>Tanggal Kunjungan :</b></legend>
			{% for kunjungan in data3 %}
			<li><a href='{{ kunjungan.idpas|e }}/kunjungan/{{ kunjungan.id|e }}' target='_blank'>{{ kunjungan.tanggal|date("d M Y") }}</a></li>
			{% endfor %}
			</fieldset>
        </div>
	
</div>
{% endspaceless %}
{% endblock %}