<!DOCTYPE html>
<html lang='en'>
{% for k in data2 %}
  <head>
    <title>{{ k.nama|e }}{% endfor %} - Kunjungan</title>
    <link rel="stylesheet" href="../../../css/bijou.min.css">
    <link rel="stylesheet" href="../../../css/font-awesome.min.css">
    <style type='text/css'>
      body{
        margin-top:60px;
      }
      .light{
        background:#CCC;'
        color:#333;
      }
      .dark{
        background:#333;
        color:#CCC;
      }
      .grid{
        text-align:center;
        font-size:10px;
      }
      .banner{
        text-align:center;
        padding:10px 0;
      }
      .table{
        margin-bottom:35px;
      }
      .banner button{
        margin-top:7px;
      }
      .divider{
        width:100%;
        background:#CCC;
        height:1px;
        margin:25px 0;
      }
      .explainer{
        font-weight:200;
        color:#AAA;
        margin-bottom:10px;
      }
      button{
      	margin-bottom:10px;
      }
    </style>
  </head>
  <body>
  	<div class='container'>
      <div class='row'>
        <div class='span two dark'>
        <i class="fa fa-wheelchair"></i> - Data Pasien</div>
        <div class='span four dark'>
        <i class="fa fa-medkit"></i> - Obat</div>
        <div class='span five dark'>
        <i class="fa fa-files-o"></i> - Informasi Lain</div>
      </div>
      <div class='row'>
        <div class='span two light'>
        {% for j in data2 %}
        <b>Nama:</b><br>
        {{ j.nama|e }}<br>
        {% endfor %}
        <b>Tanggal Kunjungan:</b><br>
        {% for m in data %}
        {{ m.tanggal|date("d M Y") }}<br>
        <b>Dokter:</b><br>
        {{ m.dokter|e }}<br>
        <b>Tipe Kunjungan:</b><br>
        {{ m.tipe|e }}
      </div>
      <div class='span four light'>
        <b>Resep:</b><br>
        {{ m.obat|raw }}<hr>
        <b>Keterangan Resep:</b><br>
        {{ m.keterangan_resep|e }}
      </div>
        <div class="span five light">
          <b>Info Dokter:</b><br>
          {{ m.info_dokter|nl2br }}<hr>
          <b>Khasiat Obat:</b><br>
          {{ m.khasiat_obat|nl2br }}<hr>
          <b>Penyimpanan Obat:</b><br>
          {{ m.penyimpanan_obat|e }}<hr>
          <b><i>Drug Related Problem</i>:</b><br>
          {{ m.interaksi_obat|nl2br }}<hr>
        </div>
      </div>
      <div class='row'>
        <div class='span twelve dark'>
        </div>
      </div>
    </div>
</div>
{% endfor %}
  </body>
  </html>