{% extends "layout.html.twig" %}
{% block title %}Detail Pasien{% endblock %}
{% block stylesheet1 %}/epmr/web/css/bijou.min.css{% endblock %}
{% block indexlink %}/epmr/web{% endblock %}
{% block pullright %}
<li><a href="#">Tambah Kunjungan</a></li>
{% endblock %}
{% block content %}
{% spaceless %}
<div class='container'>
	<div class='row light'>
          <div class='span two'>
          <form action="edit" method="post">
		<fieldset>
		<legend><b>Data Pasien</b></legend>
		{% for pasien in data2 %}
		<label for="name"><b>Nama Pasien</b></label><br>
		<input type="text" name="nama" value="{{ pasien.nama|e }}" /><br>
		<label for="name"><b>Alamat</b></label><br>
		<input type="text" name="alamat" value="{{ pasien.alamat|e }}" /><br>
		<label for="name"><b>No. Telepon</b></label><br>
		<input type="text" name="telepon" value="{{ pasien.telepon|e }}" /><br>
		<label for="name"><b>Usia</b></label><br>
		<input type="text" name="usia" value="{{ pasien.usia|e }}" /><br>
		<input type="hidden" name="idpasien" value="{{ pasien.idpasien|e }}" />
		</fieldset>
		<br><input type="submit" class="button primary small" value="Ubah Data Pasien" />
		</div>
          <div class='span five'>
          <fieldset>
		<legend><b>Data Pendukung</b></legend>
		<label for="name"><b>Alergi</b></label><br>
		<textarea rows="4" cols="50" name="alergi">{{ pasien.alergi|e }}</textarea><br>
		<label for="name"><b>Penyakit Lain</b></label><br>
		<textarea rows="4" cols="50" name="penyakit_lain">{{ pasien.penyakit_lain|e }}</textarea>
		{% endfor %}
		</fieldset>
          </form></div>
		<div class='span four dark'>
			<p>Tanggal Kunjungan:</p></div>
        </div>
	
</div>
{% endspaceless %}
{% endblock %}